body>img#creeper.creeper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 32767;
  height: 80px !important;
  animation: creeper_rotate 10s linear 0s infinite;
}

body>img#creeper.creeper_fade {
  animation: creeper_rotate 10s linear 0s infinite, creeper_fade 2s linear both;
}

@keyframes creeper_fade {
  0% {
    opacity: 1;
    visibility: hidden;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes creeper_rotate {
  0% {
    transform: scale(0, 1);
  }

  50% {
    transform: scale(-1, 1);
  }

  100% {
    transform: scale(0, 1);
  }
}