/* 共通 左上 お届け先
   共通 左上 郵便番号
   共通 左上 名前
   共通 サイドバー あいさつ
   商品 購入枠 お届け先
 */
#glow-ingress-line1,
#glow-ingress-line2,
#nav-link-accountList-nav-line-1,
#hmenu-customer-name,
#contextualIngressPtLabel_deliveryShortLine {
  text-indent: -100vw;
}

/* 商品 購入枠 今すぐ買う
   ショッピングカート 上 広告
   ショッピングカート 右 レジに進む
   注文履歴 各枠 お届け先
   注文履歴 各枠 お届け先
   注文履歴 注文の詳細 お届け先
   注文履歴 注文の詳細 支払方法
   注文履歴 いろいろ 配達状況の確認
   共通 右上 アカウントプロファイル
*/
#submit\.buy-now:not(.amazon-unsafety),
.yohtmlc-recipient,
#sc-buy-box-ptc-button:not(.amazon-unsafety),
.recipient,
.od-shipping-address-container,
.pmts-payment-instrument-billing-address,
.track-package-button,
.p13nprofilepicker-react-app-ingress {
  display: none !important;
}

#glow-ingress-line1::before,
#glow-ingress-line2::before,
#nav-link-accountList-nav-line-1::before,
#hmenu-customer-name>b::before,
#contextualIngressPtLabel_deliveryShortLine::before {
  text-indent: 0px;
  float: left;
}

#glow-ingress-line1::before {
  /* 共通 左上 お届け先*/
  content: "お届け先 ${Address}" !important;
}

#glow-ingress-line2::before {
  /* 共通 左上 郵便番号 */
  content: "${PostCode}" !important;
}

#nav-link-accountList-nav-line-1::before {
  /* 共通 右上 名前 */
  content: "${User}" !important;
}

#hmenu-customer-name>b::before {
  /* 共通 サイドバー あいさつ */
  content: "${Greeting} ${User}" !important;
}

#contextualIngressPtLabel_deliveryShortLine::before {
  /* 商品 購入枠 お届け先 */
  content: "${User} ${PostCode}" !important;
}