/* トップ 左下 国
   検索結果 上 市区町村
   検索結果 左下 国
   検索結果 左下 市区町村
 */
.uU7dJb,
.eKPi4 .BBwThe,
.Q8LRLc,
.dfB0uf {
  display: inline-block;
  text-indent: -100vw;
}

/* 検索結果 上 地域を選択
   検索結果 上 縦三点リーダー
   検索結果 左下 -
   検索結果 左下 ソース...
   検索結果 左下 -
   検索結果 左下 現在地...
 */
.eakexd,
.bWHbab,
#VdZal,
.KwU3F,
#RYW0de,
.xSQxL {
  display: none !important;
}

/* 検索結果 左下 市区町村-ソース-現在地 */
.GNm3Qb {
  pointer-events: none;
}

.uU7dJb::before,
.eKPi4 .BBwThe::before,
.Q8LRLc::before,
.dfB0uf::before {
  text-indent: 0px;
  float: left;
}

.uU7dJb::before {
  /* トップ 左下 国 */
  content: "${Address}";
}

.eKPi4 .BBwThe::before {
  /* 検索結果 上 市区町村 */
  content: "${Address}-${PostCode}";
}

.Q8LRLc::before {
  /* 検索結果 左下 国 */
  content: "${Address}";
}

.dfB0uf::before {
  /* 検索結果 左下 市区町村 */
  content: "${PostCode}";
}